{% extends "layout.html" %}
{% block brand %}
    <a href="/main_logged_in" class="navbar-brand mr-2" style="font-size: 50px;"><img src="{{ url_for('static', filename='images/fork.png') }}" width="110" height="110"></a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainnav,#logreg" aria-controls="#mainnav,#logreg" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock brand %}
{% block nav1 %}
    <li class="nav-item"><a href="{{ url_for('account') }}" class="nav-link">Moje konto</a></li>
    <li class="nav-item"><a href="{{ url_for('products_meals') }}" class="nav-link">Baza produktów i posiłków</a></li>
    <li class="nav-item"><a href="{{ url_for('diets') }}" class="nav-link">Diety</a></li>
    <li class="nav-item"><a href="{{ url_for('users_activities') }}" class="nav-link">Aktywności</a></li>
    {% if perm == 1 %}
        <li class="nav-item"><a href="{{ url_for('specialist') }}" class="nav-link">Specjalista</a></li>
    {% endif %}
    {% if perm == 2 %}
        <li class="nav-item"><a href="{{ url_for('admin') }}" class="nav-link">Admin</a></li>
    {% endif %}
{% endblock nav1 %}
{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a> </li>
{% endblock navigation %}
{% block content %}
<div class="row mr-0 content-wrap">
    <div class="col-xl-3 col-sm-1">

    </div>
    <div class="container col-xl-6 col-sm-10 bg">
        <div class="form p-2" style="height: auto;">
        <div class="account ml-3 mr-3">
            <div class="content-section">
                <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="text-center border-bottom mt-10 mb-10">Dodaj produkt</legend>
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label ml-2") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group">
                            {{ form.protein.label(class="form-control-label ml-2") }}
                            {% if form.protein.errors %}
                                {{ form.protein(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid feedback">
                                <span>Zawartość białka powinna wynosić od 0 do 100.</span>
                            </div>
                            {% else %}
                                {{ form.protein(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.fats.label(class="form-control-label ml-2") }}
                            {% if form.fats.errors %}
                                {{ form.fats(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid feedback">
                                <span>Zawartość tłuszczy powinna wynosić od 0 do 100.</span>
                            </div>
                            {% else %}
                                {{ form.fats(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.carbos.label(class="form-control-label ml-2") }}
                            {% if form.carbos.errors %}
                                {{ form.carbos(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid feedback">
                                <span>Zawartość węglowodanów powinna wynosić od 0 do 100.</span>
                            </div>
                            {% else %}
                                {{ form.carbos(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-gruop text-center mt-2 mb-5">
                        {{ form.submit(class="btn") }}
                    </div>
                    <div class="text-muted text-right border-top">

                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-3 col-sm-1">

    </div>

</div>

{% endblock content %}