{% extends "layout.html" %}
{% block brand %}
    <a href="/main_logged_in" class="navbar-brand mr-2" style="font-size: 50px;"><img src="{{ url_for('static', filename='images/fork.png') }}" width="110" height="110"></a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainnav,#logreg" aria-controls="#mainnav,#logreg" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock brand %}
{% block nav1 %}
    <li class="nav-item"><a href="{{ url_for('account') }}" class="nav-link">Moje konto</a></li>
    <li class="nav-item"><a href="{{ url_for('products_meals') }}" class="nav-link">Baza produktów i posiłków</a></li>
    <li class="nav-item"><a href="{{ url_for('diets') }}" class="nav-link">Diety</a></li>
    <li class="nav-item"><a href="{{ url_for('users_activities') }}" class="nav-link">Aktywności</a></li>
{% endblock nav1 %}
{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a> </li>

{% endblock navigation %}
{% block content %}
<div class="row mr-0 content-wrap">
    <div class="col-xl-3 col-sm-1">

    </div>
    <div class="container col-xl-6 col-sm-10 bg">
        <div class="form p-2" style="height: auto;">
        <div class="account ml-3 mr-3">
            <div class="content-section">
                <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="text-center border-bottom mt-10 mb-10">Zmiana hasła</legend>
                        <div class="form-group">
                            {{ form.old.label(class="form-control-label ml-2") }}

                            {% if form.old.errors %}
                                {{ form.old(class="form-control form-control-lg is-invalid") }}
                            {% else %}
                                {{ form.old(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.new.label(class="form-control-label ml-2") }}

                            {% if form.new.errors %}
                                {{ form.new(class="form-control form-control-lg is-invalid") }}
                            {% else %}
                                {{ form.new(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm.label(class="form-control-label ml-2") }}

                            {% if form.confirm.errors %}
                                {{ form.confirm(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid feedback">
                                <span>Dwa powyższe pola różnią się.</span>
                            </div>
                            {% else %}
                                {{ form.confirm(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>


                    </fieldset>
                    <div class="form-group text-center mt-2 mb-1">
                        {{ form.submit(class="btn") }}
                    </div>
                    <div class="text-muted text-right">
                        <small>*  pola wymagane</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-3 col-sm-1">

    </div>

</div>


{% endblock content %}