{% extends "layout.html" %}
{% block brand %}
    <a href="/main_logged_in" class="navbar-brand mr-2" style="font-size: 50px;"><img src="{{ url_for('static', filename='images/fork.png') }}" width="110" height="110"></a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainnav,#logreg" aria-controls="#mainnav,#logreg" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock brand %}
{% block nav1 %}
    <li class="nav-item"><a href="{{ url_for('account') }}" class="nav-link">Moje konto</a></li>
    <li class="nav-item"><a href="{{ url_for('products_meals') }}" class="nav-link">Baza produktów i posiłków</a></li>
    <li class="nav-item"><a href="{{ url_for('diets') }}" class="nav-link">Diety</a></li>
    <li class="nav-item"><a href="{{ url_for('users_activities') }}" class="nav-link">Aktywności</a></li>
    {% if perm == 1 %}
        <li class="nav-item"><a href="{{ url_for('specialist') }}" class="nav-link">Specjalista</a></li>
    {% endif %}
    {% if perm == 2 %}
        <li class="nav-item"><a href="{{ url_for('admin') }}" class="nav-link">Admin</a></li>
    {% endif %}
{% endblock nav1 %}
{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a> </li>
{% endblock navigation %}
{% block content %}
    <div class="row mr-0">
        <div class="col-xl-1">

        </div>
        <div class="container col-xl-5 bg ">
        <div class="form p-2 mt-5" style="height: auto;">
        <div class="account ml-3 mr-3">
            <div class="content-section ">
                <form method="POST" action="">
                    {{ form.csrf_token }}

                    <fieldset class="form-group">
                        <legend class="text-center border-bottom mt-10 mb-10">Usuń posiłek</legend>
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label ml-2") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>

                    </fieldset>
                    <div class="form-gruop text-center mt-2 mb-5">
                        {{ form.submit(class="btn") }}
                    </div>
                    <div class="text-muted border-top">

                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
        <div class="col-xl-5">
            <div class="container table-responsive pb-0 mb-4 pt-2 mt-2 table-container">
                <div class="text-center mb-3 border-bottom">
                    <h1>Baza posiłków</h1>
                </div>
                <table class="table display table-light" id="mytable">
                    <thead>
                        <th scope="col">Numer posiłku</th>
                        <th scope="col">Nazwa posiłku</th>
                    </thead>
                    <tbody>

                    {% for x in data %}
                        <tr>
                            <td>{{ x[0] }}</td>
                            <td>
                                {{ x[1] }}
                            <span class="border-top">
                                <small class="min">
                                    {% for row in x[2] %}
                                        {{ row[0] }} &nbsp;&nbsp;
                                    {% endfor %}
                                </small>
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-muted text-right border-top pb-2">

                </div>
            </div>
        </div>
        <div class="col-xl-1">

        </div>

    </div>
{% endblock content %}