{% extends "layout.html" %}
{% block brand %}
    <a href="/main_logged_in" class="navbar-brand mr-2" style="font-size: 50px;"><img src="{{ url_for('static', filename='images/fork.png') }}" width="110" height="110"></a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainnav,#logreg" aria-controls="#mainnav,#logreg" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock brand %}
{% block nav1 %}
    <li class="nav-item"><a href="{{ url_for('account') }}" class="nav-link">Moje konto</a></li>
    <li class="nav-item"><a href="{{ url_for('products_meals') }}" class="nav-link">Baza produktów i posiłków</a></li>
    <li class="nav-item"><a href="{{ url_for('diets') }}" class="nav-link">Diety</a></li>
    <li class="nav-item"><a href="{{ url_for('users_activities') }}" class="nav-link">Aktywności</a></li>
    {% if perm == 1 %}
        <li class="nav-item"><a href="{{ url_for('specialist') }}" class="nav-link">Specjalista</a></li>
    {% endif %}
    {% if perm == 2 %}
        <li class="nav-item"><a href="{{ url_for('admin') }}" class="nav-link">Admin</a></li>
    {% endif %}
{% endblock nav1 %}
{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a> </li>

{% endblock navigation %}
{% block content %}
    <div class="row mr-0">
        <div class="col-xl-2">

        </div>
        <div class="col-xl-8">
            <div class="container table-responsive pb-0 mb-5 pt-2 table-container">
                <div class="text-center mb-3 border-bottom">
                    <h1>Moje diety</h1>
                </div>
                <table class="table display table-light" id="mytable">
                    <thead>
                        <th scope="col">Nr</th>
                        <th scope="col">Śniadanie</th>
                        <th scope="col">Lunch</th>
                        <th scope="col">Obiad</th>
                        <th scope="col">Podwieczorek</th>
                        <th scope="col">Kolacja</th>
                        <th scope="col" style="width: 75px;">Data dodania</th>
                    </thead>
                    <tbody>
                        {% for diets in data %}
                            <tr>
                                <td>{{ diets[0] }}</td>
                                <td>{{ diets[1] }}</td>
                                <td>{{ diets[2] }}</td>
                                <td>{{ diets[3] }}</td>
                                <td>{{ diets[4] }}</td>
                                <td>{{ diets[5] }}</td>
                                <td>{{ diets[6] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="border-top">
                    <small>
                        <p class="min text-right mt-2">
                            By sprawdzić składniki potrzebne do przygotowania posiłku przejdź <a class="min" href="url_for('products_meals')">tutaj</a>.
                        </p>
                    </small>
                </div>
            </div>

        </div>
        <div class="col-xl-2">

        </div>
    </div>
    <div class="row mr-0 pb-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center mb-3">
            <div class="text-center">
                <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.submit(class="btn") }}
                </form>
            </div>
        </div>
        <div class="col-sm-4 text-center mb-3">
            <div class="text-center">
                <a href="{{ url_for('user_delete_diet') }}" class="btn pt-2">Usuń dietę</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock content %}