{% extends "layout.html" %}
{% block brand %}
    <a href="/" class="navbar-brand mr-2" style="font-size: 50px;"><img src="{{ url_for('static', filename='images/fork.png') }}" width="110" height="110"></a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainnav,#logreg" aria-controls="#mainnav,#logreg" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock brand %}
{% block nav1 %}

{% endblock nav1 %}
{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Zaloguj</a> </li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Zarejestruj</a></li>
{% endblock navigation %}
{% block content %}

{% endblock content %}